.footercontainer {
    background-color:  black;
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.footercontainer p{
    font-weight: bold;
    font-size: 20px;
}

@media only screen and (max-width: 600px){
    .footercontainer p{
        font-size: 15px;
    }
    .footercontainer{
        height: 45px;
    }
}