nav{
    background-color:  black;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav p{
    font-weight: bold;
    font-size: 50px;
    font-family: "Protest Riot", sans-serif;

}

@media only screen and (max-width: 600px) {
    nav p{
        font-size: 30px;
    }
    nav{
        height: 50px;
    }
  }